@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: #160F08;
}

::selection {
  background: #FBBF24;
  color: #160F08;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #2E2110;
  border-radius: 999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3D2C16;
}